{% extends 'base.html' %}
{% block title %}{{ department.name }} - {{ block.super }}{% endblock %}
{% block content %}
<h2>{{ department.name }}</h2>
<p>{{ department.description }}</p>
<h4>部门教师</h4>
<div class="row">
    {% for teacher in department.teachers.all %}
    <div class="col-md-3 text-center mb-3">
        {% if teacher.photo %}
        <img src="{{ teacher.photo.image.url }}" class="rounded-circle" width="100" height="100">
        {% endif %}
        <p class="mt-2">{{ teacher.name }}<br><small>{{ teacher.title }}</small></p>
    </div>
    {% empty %}
    <p>暂无教师</p>
    {% endfor %}
</div>
{% endblock %}