{% extends 'base.html' %}
{% block title %}部门设置 - {{ block.super }}{% endblock %}
{% block content %}
<h2>部门设置</h2>
<div class="row">
    {% for dept in departments %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'organization:department_detail' dept.slug %}">{{ dept.name }}</a></h5>
                <p class="card-text">{{ dept.description|truncatechars:100 }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>暂无部门信息</p>
    {% endfor %}
</div>
{% endblock %}